#content {
    margin: 10px auto;
}

.ad-showLaptop-1 {
    border: 2px solid white;
}

.ad-addLaptop a,
.ad-addUser a {
    color: white;
}

.ad-addLaptop,
.ad-addUser {
    background-color: rgb(110, 58, 253);
    width: 200px;
    height: 60px;
    text-align: center;
    padding: 5px;
    position: absolute;
    border-radius: 10px;
    display: flex;
    right: 120px;
}

.ad-addLaptop::after,
.ad-addUser::after {
    position: absolute;
    content: "";
    box-sizing: border-box;
    width: 0.75rem;
    height: 0.75rem;
    transform: rotate(45deg) translateX(-50%);
    border-top: 2px solid rgb(110, 58, 253);
    border-right: 2px solid rgb(110, 58, 253);
    top: -0.1rem;
    right: 1.2rem;
    background-color: rgb(110, 58, 253);
}

.ad-addLaptop i,
.ad-addUser i {
    font-size: 40px;
    padding-top: 5px;
    margin-left: 7px;
}

.ad-addLaptop span,
.ad-addUser span {
    padding: 14px 15px;
    padding-bottom: 20px;
    color: white;
    font-weight: bold;
}

.ad-showLaptop-2 {
    margin-top: 70px;
    border-top: 2px dashed rgb(82, 82, 82);
}

.ad-showLaptop-1-row {
    border-bottom: 2px dashed rgb(82, 82, 82);
    display: flex;
}

.ad-showLaptop-1-row img {
    width: 200px;
    height: 150px;
    padding: 10px 20px;
}

.ad-showLaptop-1-row-a {
    border-left: 2px dashed rgb(82, 82, 82);
    width: 470px;
    padding: 63px 10px;
}

.ad-showLaptop-1-row a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.ad-showLaptop-1-row label {
    border-left: 2px dashed rgb(82, 82, 82);
    padding: 63px 10px;
    width: 150px;
    text-align: center;
}

.action {
    border-left: 2px dashed rgb(82, 82, 82);
    padding: 10px auto;
    width: 300px;
    text-align: center;
}

.action form {
    margin-top: 20px;
}

.action form select {
    width: 200px;
    height: 40px;
}

.action > form > input {
    width: 50px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: 0px;
    color: white;
    font-weight: bold;
    background: linear-gradient(90deg,
            #03d8de,
            #7c6eee,
            #fa02fe);
}

.action-sale {
    border-top: 2px dashed rgb(82, 82, 82);
    padding: 5px;
}

.action-sale input {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgb(82, 82, 82);
}

.action-sale-submit {
    
    color: white;
    font-weight: bold;
    background: linear-gradient(90deg,
            #03d8de,
            #7c6eee,
            #fa02fe);
}

.action-icon {
    border-top: 2px dashed rgb(82, 82, 82);
    padding: 10px;
}

.action-icon i {
    font-size: 30px;
    margin: auto 30px;
}

/* ------------ ad_user -------------- */
.ad-showUser {
    border: 2px solid white;
}

.ad-showUser-row-1 {
    border-top: 2px dashed rgb(82, 82, 82);
    margin-top: 70px;

}

.ad-showUser-row-2 {
    border-bottom: 2px dashed rgb(82, 82, 82);
    display: flex;

}

.ad-showUser-row-2-img {
    padding: 10px 20px;
}

.ad-showUser-row-2 img {
    width: 130px;
    height: 130px;
}

.ad-showUser-row-2-label-1 {
    border-left: 2px dashed rgb(82, 82, 82);
    width: 130px;
    text-align: center;
    padding-top: 60px;

}

.ad-showUser-row-2-label-2 {
    border-left: 2px dashed rgb(82, 82, 82);
    width: 330px;
    text-align: center;
    padding-top: 60px;
}

.action-user {
    border-left: 2px dashed rgb(82, 82, 82);
    padding: 10px auto;
    width: 166px;
    text-align: center;
}

.action-user form {
    margin-top: 20px;
}

.action-user form input {
    width: 120px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: 0px;
    color: white;
    font-weight: bold;
    background: linear-gradient(90deg,
            #03d8de,
            #7c6eee,
            #fa02fe);
}

.action-user-icon {
    border-top: 2px dashed rgb(82, 82, 82);
    padding: 10px;
}

.action-user-icon i {
    font-size: 25px;
    margin: auto 10px;
}

/* ---------- ad_purchase.php ---------- */
.ad_purchase {
    background-color: rgb(243, 243, 243);
}

.ad-showPurchase {
    background-color: #fff;
    width: 800px;
    margin: 20px auto;
}

.ad-showPurchase-row {
    border-bottom: 40px solid rgb(243, 243, 243);
}

.ad-shipping-info {
    border-bottom: 5px solid rgb(243, 243, 243);
}

.ad-shipping-info-title {
    /* border: 2px solid rgb(255, 0, 191); */
    margin: 5px;
}

.ad-shipping-info-title i {
    /* border: 2px solid rgb(251, 255, 0); */
    margin: 5px;
    font-size: 18px;
}

.ad-shipping-info-title span {
    border-bottom: 4px double rgb(110, 58, 253);
    margin: 5px;
    font-weight: bold;

}

.ad-shiping-info-div {
    margin: 5px;
    display: flex;
    position: relative;
}

.ad-shipping-info-status {
    /* border: 2px solid rgb(0, 255, 238); */
    margin: 5px;
}

.ad-shipping-info-status i {
    /* border: 2px solid rgb(255, 94, 0); */
    margin: 5px;
    color: rgb(0, 255, 13);
    font-size: 14px;
}

.ad-shipping-info-status span {
    /* border: 2px solid rgb(0, 34, 255); */
    margin: 5px;
    color: rgb(25, 193, 33);
    font-size: 14px;
}

.ad-shipping-info-edit {
    display: flex;
    position: absolute;
    right: 5px;
    /* border: 2px solid rgb(0, 255, 51); */
    bottom: 2px;
}

.ad-shipping-info-edit i {
    font-size: 25px;
}

.ad-shipping-info-select {
    margin-right: 10px;
    display: none;
    /* border: 2px solid red; */

}

.ad-shipping-info-select form {
    margin-bottom: 0px;
}

.ad-shipping-info-select select {
    width: 200px;
    height: 40px;
}

.ad-shipping-info-select input {
    width: 50px;
    height: 40px;
    /* border-radius: 5px; */
    outline: none;
    border: 0px;
    color: white;
    font-weight: bold;
    background: linear-gradient(90deg, #03d8de, #7c6eee, #fa02fe);

}

.ad-user-info {
    border-bottom: 5px solid rgb(243, 243, 243);
}

.ad-user-info-title {
    /* border: 2px solid rgb(255, 0, 208); */
    margin: 5px;
}

.ad-user-info-title i {
    /* border: 2px solid rgb(47, 255, 0); */
    margin: 5px;
    font-size: 18px;
}

.ad-user-info-title span {
    border-bottom: 4px double rgb(110, 58, 253);
    margin: 5px;
    font-weight: bold;
}

.ad-user-info-address {
    /* border: 2px solid rgb(255, 64, 0); */
    margin: 5px;
}

.ad-user-info-address span {
    /* border: 2px solid rgb(0, 255, 247); */
    margin: 5px;
    display: block;
    font-size: 14px;
    color: rgb(79, 79, 79);
}

.ad-laptop-info {
    /* border: 2px solid rgb(255, 0, 208); */
    margin: 5px;
}

.ad-laptop-info-code-time {
    border-bottom: 2px dashed rgb(110, 58, 253);
    ;
    margin: 5px;
    margin-bottom: 10px;
}

.ad-laptop-info-code-time span {
    /* border: 2px solid rgb(255, 255, 0); */
    margin: 5px auto;
    display: block;
    font-size: 14px;
}

.ad-laptop-info-row {
    /* border: 2px solid rgb(0, 242, 255); */
    margin: 5px auto;
    display: flex;
    margin-bottom: 10px;
}

.ad-laptop-info-row img {
    /* border: 2px solid rgb(4, 255, 0); */
    margin: 5px 0px;
    width: 100px;
}

.ad-laptop-info-row span {
    /* border: 2px solid rgb(255, 115, 0); */
    margin: 5px 0px;
}

.ad-laptop-info-row-1 {
    /* border: 2px solid rgb(255, 0, 0); */
    margin: 5px;
    margin-left: 40px;
}

.ad-laptop-info-row-2 {
    /* border: 2px solid rgb(64, 0, 255); */
    margin: 5px;
    display: flex;
    position: relative;
    color: rgb(82, 82, 82);
    font-size: 14px;
}

.ad-laptop-info-row-2 span {
    margin-top: 2px;
}

.ad-laptop-info-row-3 {
    /* border: 2px solid rgb(38, 255, 0); */
    margin: 5px;
    margin-left: 40px;
    margin-top: 2px;
    position: absolute;
    right: 5px;
}



.ad-total {
    /* border: 2px solid rgb(200, 0, 255); */
    margin: 5px 0px;
    margin-left: 560px;
    width: 230px;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;
}