.user-cart-content,
.user-wish-list-content {
    margin-top: 40px;
}

.user-cart {
    border-top: 2px dashed rgb(110, 58, 253);
    display: flex;
}

.user-cart img {
    width: 200px;
    margin-left: 10px;
}

.user-cart>a {
    border-left: 2px dashed rgb(110, 58, 253);
    width: 600px;
    padding: 60px 10px;
}

.user-cart-form,
.user-cart-brand,
.user-cart-price {
    width: 150px;
    text-align: center;
    border-left: 2px dashed rgb(110, 58, 253);
}

.user-cart>a,
.user-cart-form,
.user-cart-brand,
.user-cart-price {
    padding: 60px 10px;
}

.user-cart-icon {
    border-left: 2px dashed rgb(110, 58, 253);
    width: 245px;
    text-align: center;
    font-size: 30px;
    padding: 50px 10px;
}

.user-cart-icon i,
.user-wish-list-icon i {
    margin: 0px 10px;
}

.user-cart-order {
    border-top: 2px dashed rgb(110, 58, 253);
    padding: 30px 50px;
    text-align: right;
}

.user-cart-order input {
    width: 370px;
    padding: 15px 10px;
    border-radius: 100px;
    outline: none;
    border: 0px;
    text-indent: 17px;
    font-size: 20px;
    color: white;
    background: linear-gradient(90deg,
            #03d8de,
            #7c6eee,
            #fa02fe);
}

.user-cart-order input:hover {
    background: linear-gradient(90deg,
            #fa02fe,
            #7c6eee,
            #03d8de);
}

/* --------------------- wishList.php -------------------------- */
.user-wish-list-content {
    border-top: 2px dashed rgb(110, 58, 253);
}

.user-wish-list {
    border-bottom: 2px dashed rgb(110, 58, 253);
    display: flex;
}

.user-wish-list img {
    width: 200px;
    margin-left: 10px;
    padding: 10px;
}

.user-wish-list>a {
    border-left: 2px dashed rgb(110, 58, 253);
    width: 600px;
    padding: 60px 10px;
    text-decoration: none;
    color: rgb(68, 68, 68);
}

.user-wish-list>a:hover {
    color: rgb(110, 58, 253);
}

.user-wish-list>label {
    /* border: 2px solid rgb(255, 0, 230); */
    width: 200px;
}

.user-wish-list-price {
    /* border: 2px solid rgb(60, 255, 0); */
    width: 250px;

}

.user-wish-list-price label {
    padding: 0px 5px;
}

.user-wish-list>label,
.user-wish-list-price,
.user-wish-list-icon {
    padding: 60px 10px;
    border-left: 2px dashed rgb(110, 58, 253);
    text-align: center;
}

.user-wish-list-icon {
    /* border: 2px solid rgb(0, 217, 255); */
    width: 250px;
    font-size: 30px;
    padding: 50px 10px;
}

/* -------------------dathang.php ---------------- */
.dathang-content {
    background-color: rgb(243, 243, 243);
    margin-top: 0px;
}

#order {
    /* border: 2px solid red; */
    width: 1000px;
    margin: 20px auto;
    background-color: white;
}

.dathang-tieude {
    border-bottom: 10px solid rgb(243, 243, 243);
    padding: 5px 20px;
}

.dathang-sanpham {
    border-top: 2px dashed rgb(110, 58, 253);
}

.dathang-sanpham-row {
    display: flex;
    border-bottom: 2px dashed rgb(110, 58, 253);
}

.dathang-sanpham-row img {
    border-left: 2px dashed rgb(110, 58, 253);
    width: 200px;
    padding: 10px;
}

.dathang-sanpham-row label {
    border-left: 2px dashed rgb(110, 58, 253);
    font-size: 15px;
    width: 430px;
    padding: 50px 10px;
}

.dathang-sanpham-row>span {
    border-right: 2px dashed rgb(110, 58, 253);
    padding: 50px 10px;
    width: 120px;
}

.dathang-sanpham-row-price {
    padding: 50px 10px;
    width: 250px;
    font-size: 15px;
}

.dathang-sanpham-row-price,
.dathang-sanpham-row>span {
    border-left: 2px dashed rgb(110, 58, 253);
    text-align: center;
    padding: 50px 10px;
}

.dathang-thongtin {
    border-top: 10px solid rgb(243, 243, 243);
    padding: 20px;
    font-size: 15px;
}

.dathang-thongtin>span {
    margin-bottom: 10px;
    display: block;
}

.dathang-thongtin label {
    border-bottom: 5px double rgb(110, 58, 253);
}

.dathang-thongtin-khachhang {
    margin: 20px 20px;
}

.dathang-thongtin-khachhang span {
    display: block;
    color: rgb(90, 90, 90);
    font-size: 14px;
    width: 600px;
}

#dathang {
    border-top: 2px dashed rgb(110, 58, 253);
    text-align: right;
    padding: 20px 40px;
}

#dathang input {
    width: 370px;
    padding: 15px 10px;
    border-radius: 100px;
    outline: none;
    border: 0px;
    text-indent: 17px;
    font-size: 20px;
    color: white;
    background: linear-gradient(90deg,
            #03d8de,
            #7c6eee,
            #fa02fe);
}

#dathang input:hover {
    background: linear-gradient(90deg,
            #fa02fe,
            #7c6eee,
            #03d8de);
}